@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat.woff2') format('woff2'),
		url('../fonts/montserrat.woff') format('woff');
	font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
	src: url('../fonts/montserrat-600.woff2') format('woff2'),
		url('../fonts/montserrat-600.woff') format('woff');
	font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
	src: url('../fonts/montserrat-700.woff2') format('woff2'),
		url('../fonts/montserrat-700.woff') format('woff');
	font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
	src: url('../fonts/montserrat-800.woff2') format('woff2'),
		url('../fonts/montserrat-800.woff') format('woff');
	font-style: normal;
}

:root {
  --white-color: #fff;
  --content-color: #333;
  --footer_color: #CACACA;
  --orange-color: #ff9900;
  --active-color: #E1670E;
}

* {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--content-color);
  background-color: var(--white-color);
  /* min-width: 1920px; */
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

::-webkit-input-placeholder {
  color: var(--footer_color);
}

html {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 75px;
  padding-right: 75px;
}

.header, .footer {
  margin: auto;
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: var(--white-color);
  transition-property: background-color, border, color;
  transition-duration: .4s;
}

.btn-reset {
  padding: 0;
  height: min-content;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.section-heading {
  font-weight: 400;
  font-size: 48px;
}

.section-questions__subtitle,
.section-work__subtitle {
  font-weight: 700;
  font-size: 24px;
}

.btn-decor:hover {
  background: rgba(255, 153, 0, 0.6);
}

.btn-decor:active {
  background: var(--active-color);
}

  /* HEADER */

.header {
  margin-bottom: 1px;
  height: 100px;
  background-color: var(--white-color);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.burger {
  display: none;
}

.burger-pic,
.burger-pic-close {
  display: none;
  width: 30px;
  height: 23px;
}

.burger-pic-close {
  transform: translateX(7px);
}

 /* флаг переключения иконки бургера (default/close) */
.is-active {
  display: block;
}

.burger-pic-close rect,
.burger-pic rect{
  transition: fill .4s, transform .4s;
}

.burger-pic:hover rect,
.burger-pic-close:hover rect {
  fill: var(--orange-color);
}

.burger-pic:hover rect:last-child {
  transform: translate(15px, 0);
}

.burger-pic:hover rect:nth-last-child(2) {
  transform: translate(5px, 0);
}

.burger-pic:active rect,
.burger-pic-close:active rect {
  fill: var(--active-color);
}

.header__logo {
  margin-top: 3px;
  margin-right: 90px;
  min-width: 224px;
}

.nav {
  display: flex;
  padding-top: 13px;
  width: 816.5px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 86.8%;
}

.nav__item {
  font-size: 18px;
  line-height: 22px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  color: var(--content-color);
}

.nav__link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -22%;
  width: 0;
  height: 2px;
  transition-property: left, width;
  transition-duration: .4s;
}

.nav__link:hover::before {
  left: 0;
  width: 100%;
  background: var(--orange-color);
}

.nav__link:active {
  color: var(--active-color);
}

.header__search {
  margin-right: 11px;
  margin-left: auto;
  transform: translateY(-2px);
}

.header__search-icon rect {
  transition: fill .4s;
}

.header__search-icon circle {
  transition: stroke .4s;
}

.header__search-icon:hover rect{
  fill: var(--orange-color);
}

.header__search-icon:hover circle{
  stroke: var(--orange-color);
}

.header__search-icon:active rect{
  fill: var(--active-color);
}

.header__search-icon:active circle{
  stroke: var(--active-color);
}


/* Section-Hero */

.section-hero {
  margin-bottom: 102.8px;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-img1 {
  background-image: url(../img/hero.jpg)
}

.background-img2 {
  background-image: url(../img/hero2.jpg)
}

.background-img3 {
  background-image: url(../img/hero3.jpg)
}

.swiper-pagination {
  bottom: 26px !important;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 16px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--white-color);
}

.hero-container {
  position: absolute;
  z-index: 2;
  padding: 56px 20px 91px 78px;
}

.section-hero__heading {
  margin-bottom: 19px;
  max-width: 840px;
  font-weight: 800;
  font-size: 70.37px;
  line-height: 86px;
  color: var(--white-color);
}

.section-hero__description {
  margin-bottom: 97px;
  max-width: 830px;
  font-weight: 700;
  font-size: 23.46px;
  line-height: 29.9px;
  color: var(--white-color);
}

.section-hero__btn {
  margin-left: 2.5px;
  width: 280px;
  height: 80px;
  text-align: center;
  line-height: 82.1px;
  font-size: 23.36px;
  background-color: var(--orange-color);
}

/* Section-About */

.section-about {
  margin-bottom: 102.7px;
}

.section-about__heading {
  margin-left: 2px;
  margin-bottom: 23px;
}

.section-about__description {
  margin-bottom: 43px;
  max-width: 1236px;
  font-size: 16px;
  line-height: 32px;
}

.section-about__tooltip-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  margin-right: 4px;
  background: url(../img/tooltip.svg) no-repeat;
  background-size: contain;
  transform: translateY(2px);
}

.section-about__hero-image {
  display: flex;
  height: 100%;
  max-width: 870px;
  background: url(../img/image1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 39px 68px 41.3px 53.7px;
  background: rgba(0, 0, 0, 0.5);
}

.hero-action__info {
  margin-right: 25px;
  width: 68%;
  font-weight: 700;
  line-height: 32.7px;
  color: var(--white-color);
}

.hero-action__btn {
  padding: 20px 35px;
  margin-top: 2px;
  height: 60px;
  border: 3px solid var(--orange-color)
}

.hero-action__btn:hover {
  background: var(--orange-color)
}

.hero-action__btn:active {
  background: var(--active-color)
}

.section-about__desc-list {
  padding-top: 2px;
  padding-left: 3px;
}

.desc-list__item {
  padding: 67px 114px 65px 299px;
  border: 1px solid var(--footer_color);
  background-size: 178px auto;
  background-repeat: no-repeat;
}

.desc-list__item--img1 {
  background-image: url(../img/figure1.svg);
  background-position: 62px 70px;
}

.desc-list__item--img2 {
  background-image: url(../img/figure2.svg);
  background-position: 62px 54px;
}

.desc-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.desc-list__header {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 24px;
}

.desc-list__definition {
  line-height: 32px;
}

/* Section-How we work */

.section-work {
  margin-bottom: 101px;
}

.section-work__heading {
  margin-left: -2px;
  margin-bottom: 51.6px;
}

.section-work__nav {
  margin-left: 2px;
  margin-bottom: 48px;
}

.tabs {
  display: flex;
}

.tabs__item {
  font-size: 18px;
}

.tabs__item:not(:last-child) {
  margin-right: 89.1px;
}

.tabs__btn {
  color: var(--content-color);
}

.tabs__item--active .tabs__btn{
  color: var(--orange-color);
}

.tabs__btn:hover {
  color: var(--orange-color);
}

.tabs__btn:active {
  color: var(--active-color);
}

.tab-content {
  display: none;
}

.tab-content--active {
  display: flex;
}

.section-work__step {
  padding-left: 2px;
  padding-right: 106px;
  padding-bottom: 61px;
}

.section-work__subtitle {
  margin-bottom: 6px;
}

.section-work__desc {
  line-height: 32px;
}

.section-work__buttons {
  display: flex;
  justify-content: space-between;
  max-width: 354px;
}

.section-work__btn-detailed {
  margin-left: 2px;
  padding: 23px 38.23px;
  margin-right: 8px;
  height: 60px;
  background-color: var(--orange-color);
}

.section-work__btn-contract {
  padding: 21px 37.1px;
  height: 58px;
  font-weight: 400;
  color: var(--content-color);
  border: 1px solid var(--content-color);
}

.section-work__btn-contract:hover {
  color: var(--white-color);
  background: #666;
  border: 1px solid var(--content-color);
}

.section-work__btn-contract:active {
  background: #000;
  border: 1px solid #000;
}

.section-work__right-column {
  display: flex;
}

.section-work__colum-pic {
  display: flex;
  height: 100%;
}

.section-work__pic {
  margin-top: auto;
  margin-left: 1.1px;
  min-height: 98%;
  object-fit: cover;
}


/* Section-questions */

.section-questions {
  padding-left: 5px;
  margin-bottom: 100px;
}

.section-questions__heading {
  margin-left: -3px;
  margin-bottom: 37px;
  line-height: 59px;
}

.section-questions__item {
  border-top: 1px solid var(--footer_color);
  cursor: pointer;
  transition-property: color, border-color;
  transition-duration: 0.4s;
}

.section-questions__item:last-child {
  border-bottom: 1px solid var(--footer_color);
}

.section-questions__item:last-child:hover {
  border-bottom: 1px solid var(--orange-color);
}

.section-questions__item:hover {
  color: var(--orange-color);
  border-top: 1px solid var(--orange-color);
}

.section-questions__item:hover + .section-questions__item {
  border-top: 1px solid var(--orange-color);
}

.section-questions__item:hover .section-questions__x-pic circle{
  fill: #d2d2d2
}

.section-questions__wrapper-subtitle {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  outline: none;
}

.section-questions__subtitle {
  margin-right: 40px;
}

.section-questions__x-pic {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: 2px;
}

.section-questions__x-pic circle {
  transition: fill 0.4s;
}

.section-questions__x-pic {
  transition: transform 0.4s;
}

.ui-accordion-header-active .section-questions__x-pic {
  transform: rotate(90deg);
}

.section-questions__wrapper-desc {
  cursor: default;
}

.section-questions__desc {
  padding-bottom: 40px;
  line-height: 32px;
  max-width: 1003px;
}

/* Footer */

.footer, .footer__nav-link {
  color: var(--footer_color);
}

.footer {
  min-height: 630px;
  background-color: #222;
}

.footer-left {
  padding: 48px 15px 20px 12px;
}

.footer__logo {
  margin-bottom: 9px;
}

.footer__nav {
  margin-bottom: 105px;
}

.footer__nav-item {
  line-height: 34.3px;
  font-weight: 600;
  font-size: 18px;
}

.footer__nav-link {
  transition: color 0.4s
}

.footer__nav-link:hover {
  color: var(--orange-color);
}

.footer__nav-link:active {
  color: var(--active-color);
}

.footer__nav-link::after {
  content: "";
  position: relative;
  display: block;
  bottom: 4px;
  height: 2px;
  width: 100%;
  background-color: var(--orange-color);
  opacity: 0;
  transition: opacity .4s;
}

.footer__nav-link:hover::after {
  opacity: 1;
}

.footer__social-list {
  display: flex;
  margin-left: -0.8px;
}

.footer__social-item:not(:last-child) {
  margin-right: 25px;
}

.footer__social-item:hover {
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.2))
}

.footer__social-pic {
  width: 60px;
  height: 60px;
}

.footer__social-pic--fb {
  width: 61px;
  height: 61px;
}

.footer-form {
  padding-top: 60px;
  padding-right: 0;
}

.footer__heading {
  margin-bottom: 24px;
}

.footer__forma {
  padding-left: 3px;
}

.footer__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  height: 90px;
  width: 100%;
}

.footer__btn {
  margin-right: 10px;
  padding: 21px 52px;
  flex-shrink: 0;
  height: 60px;
  border: 0;
  line-height: 20px;
  background-color: var(--orange-color);
}

.footer__label {
  margin-right: 2px;
}

.footer__input, .footer__textarea {
  display: block;
  margin-bottom: 25px;
  padding-left: 24px;
  width: 100%;
  height: 60px;
  color: var(--footer_color);
  border-width: 0;
  outline: none;
  background-color: #414141;
}

.footer__input, .footer__textarea,
.footer__action {
  max-width: 570px;
}

.footer__textarea {
  margin-bottom: 31px;
  padding-top: 22px;
  height: 150px;
  resize: none;
}

.footer__label, .footer__checkbox,
.footer__btn {
  cursor: pointer;
}

.footer-right {
  padding: 127px 16px 20px 12.44%;
  line-height: 32px;
}


@media (max-width: 1600px) {

  /* Section-About */

  .section-about__hero-image {
    max-width: none;
  }

  .section-about__desc-list {
    padding: 0;
  }

  .hero-action {
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 40px;
  }

  .hero-action__info {
    margin-right: 0;
    margin-bottom: 15px;
    width: auto;
    text-align: center;
  }

  .hero-action__btn {
    margin-top: 0;
  }

  .desc-list__item {
    padding: 193px 30px 47px 40px;
    background-position: center 25px;
  }

  /* Footer (max-width: 1600px) */

  .footer__heading {
    font-size: 3vw;
  }

}

@media (max-width: 1366px) {

  .header__search {
    margin-right: 0;
  }

  /* Section-How we work */

  .tabs__item:not(:last-child) {
    margin-right: 7.4%;
  }

  .section-work__step {
    padding-right: 17%;
  }

  /* Footer */

  .footer-right {
    padding-left: 40px;
    padding-right: 0;
  }

}

@media (max-width: 1024px) {

  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header {
    margin-bottom: 0;
  }

  .burger {
    display: block;
    margin-top: 4px;
  }

  .header__logo {
    margin: 3px 0 0 -6px;
    min-width: auto;
  }

  .nav {
    padding-top: 0;
    width: auto;
  }

  .nav__list {
    position: absolute;
    left: -100%;
    top: 100px;
    z-index: 2;
    display: block;
    padding-top: 1em;
    padding-left: 1.5em;
    width: 100%;
    height: 100vh;
    font-size: 24px;
    background-color: #333;
    transition: left .4s, right .4s;
  }

  .nav__list.open-menu {
    left: 0;
  }

  .nav__link {
    color: white;
  }

  .nav__item {
    margin-bottom: 1.2em;
    font-size: inherit;
  }

  .header__search {
   margin-top: 11px;
   margin-right: -2px;
  }

  .section-hero {
    margin-bottom: 61.25px;
  }

  .background-img1 {
    background-image: url(../img/hero_1024.jpg);
  }

  .hero-container {
    padding: 120px 100px 114px 45px;
  }

  .section-hero__heading {
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 73px;
  }

  .section-hero__description {
    margin-bottom: 110px;
    font-size: 20px;
    line-height: 24px;
  }

  .section-hero__btn {
    margin-left: 0.1px;
    width: 287px;
    line-height: 80px;
    font-size: 24px;
  }

  .section-about {
    margin-bottom: 61px;
  }

  .section-about__heading {
    margin-left: -3px;
    margin-bottom: 27px;
  }

  .section-about__description {
    margin-left: -1px;
    margin-bottom: 59px;
  }

  .column-about {
    width: 100%;
  }

  .section-about__hero-image {
    margin-bottom: 50px;
    height: 640px;
    background-image: url(../img/image1_1024.jpg);
  }

  .hero-action {
    flex-direction: row;
    padding: 38px 50px 39px 44px;
  }

  .hero-action__info {
    margin-bottom: 0;
    margin-right: 20px;
    width: 61%;
    text-align: left;
  }

  .hero-action__btn {
    margin-top: 2px;
  }

  .desc-list__item {
    padding: 67px 11% 65px calc(26.8% + 100px);
  }

  .desc-list__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .desc-list__item--img1 {
    background-position: 14.9% 48%;
  }

  .desc-list__item--img2 {
    background-position: 14.9% 44%;
  }

/* Section-How we work (max-width: 1024px) */

  .section-work {
    margin-bottom: 54px;
  }

  .section-work__left-column {
    width: 51%;
  }

  .section-work__right-column {
    width: 49%;
  }

  .section-work__heading {
    margin-left: -6px;
    margin-bottom: 51px
  }

  .section-work__nav {
    margin-left: 0;
  }

  .tabs__item:not(:last-child) {
    margin-right: 9.65%;
  }

  .section-work__step {
    padding-bottom: 29px;
    padding-left: 0;
    padding-right: 4.7%;
  }

  .section-work__subtitle {
    margin-bottom: 6px;
  }

  .section-work__buttons {
    max-width: 352px;
  }

  .section-work__btn-detailed {
    margin-left: 0;
    line-height: 18.4px;
  }

  .section-work__btn-contract {
    height: 60px;
    line-height: 18.4px;
  }

  .section-work__pic {
    margin-left: 0.8px;
  }

  /* Section-questions (max-width: 1024px) */

  .section-questions {
    margin-bottom: 53px;
  }

  .section-questions__heading {
    margin-left: -7px;
  }

  .section-questions__list {
    margin-left: -4px;
  }

  .section-questions__subtitle {
    max-width: 747px;
    font-size: 20px;
    line-height: 32px;
  }

  .section-questions__x-pic {
    margin-right: -1px;
  }


  /* Footer (max-width: 1024px) */

  .footer-left {
    padding-top: 47px;
    padding-left: 11px;
    width: 40%;
  }

  .footer-form {
    padding-left: 19px;
    padding-right: 12px;
    width: 60%;
  }

  .footer-right {
    display: none;
  }

  .footer__heading {
    font-size: 4.69vw;
  }

  .footer__input, .footer__textarea,
  .footer__action {
    max-width: 534px;
  }

  .footer__btn {
    padding: 20px 38px;
    max-height: 60px;
    line-height: 21px;
  }

}

@media (max-width: 768px) {

  .header {
    height: 69px;
  }

  .burger {
    margin-top: 0;
  }

  .header__logo {
    margin-top: 2px;
  }

  .header__search {
    margin-top: 6px;
  }

  .nav__list {
    top: 69px;
  }

  .section-hero {
    margin-left: -50px;
    margin-right: -50px;
  }

  .background-img1 {
    background-image: url(../img/hero_768.jpg);
  }

  .hero-container {
    padding: 151px 20px 114px 49px;
  }

  .section-about__heading {
    margin-left: -2px;
  }

  .section-about__description {
    margin-left: 0;
  }

  .section-about__hero-image {
    margin-bottom: 40px;
    height: 650px;
  }

  .hero-action {
    padding: 23px 30px 26px 29px;
  }

  .hero-action__info {
    width: 66%;
    line-height: 31px;
  }

  .hero-action__btn {
    margin-top: 3px;
  }

  .desc-list__item {
    padding: 37px 23px 35px 177px;
  }

  .desc-list__item--img1 {
    background-image: url(../img/figure1_768.svg);
    background-position: 30px 64px;
    background-size: auto;
  }

  .desc-list__item--img2 {
    background-image: url(../img/figure2_768.svg);
    background-position: 30px 66px;
    background-size: auto;
  }

  /* Section-How we work (max-width: 768px) */

  .section-work {
    margin-bottom: 59px;
  }

  .section-work__left-column {
    width: 100%;
    order: 1;
  }

  .section-work__right-column {
    width: 100%;
  }

  .section-work__nav {
    margin-bottom: 46px;
  }

  .tabs {
    justify-content: space-between;
  }

  .tabs__item:not(:last-child) {
    margin-right: 0;
  }

  .section-work__pic {
    margin-left: 0;
  }

  .section-work__right-column {
    margin-bottom: 41px;
  }

  .section-work__step {
    padding-right: 0;
  }


  /* Section-questions (max-width: 768px) */

  .section-questions {
    margin-bottom: 58px;
  }

  .section-questions__heading {
    margin-left: -5px;
    margin-right: -25px;
  }

  .section-questions__list {
    margin-left: -2px;
  }

  .section-questions__item:nth-child(3),
  .section-questions__item:nth-child(5) {
    align-items: flex-start;
  }

  .section-questions__item:nth-child(1) .section-questions__subtitle,
  .section-questions__item:nth-child(2) .section-questions__subtitle {
    max-width: 571px;
  }

  .section-questions__item:nth-child(3) .section-questions__subtitle {
    max-width: 465px;
  }

  .section-questions__item:nth-child(4) .section-questions__subtitle,
  .section-questions__item:nth-child(5) .section-questions__subtitle {
    max-width: 518px;
  }

  .section-questions__x-pic {
    margin-right: 0;
  }


  /* Footer (max-width: 768px) */

  .footer-left {
    padding-left: 12px;
    padding-top: 23px;
    width: 100%;
  }

  .footer__logo {
    margin-bottom: 12px;
  }

  .footer__nav {
    display: none;
  }

  .footer-form {
    margin-bottom: 5px;
    padding-left: 9px;
    width: 100%;
    order: -1;
  }

  .footer__heading {
    margin-bottom: 25px;
    font-size: 6.26vw;
  }

  .footer__btn {
    margin-bottom: 0;
  }

}

@media (max-width: 576px) {

  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .section-heading {
    font-size: 34px;
  }

  .section-hero {
    margin-left: -25px;
    margin-right: -25px;
  }

  .hero-container {
    padding: 26.2% 15px 20% 15px;
  }

  .section-hero__heading {
    font-size: 46px;
    line-height: 60px;
  }

  .section-hero__description {
    margin-bottom: 20%;
  }

  .section-hero__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .section-about__hero-image {
    background-position-x: 35%;
  }

  .hero-action {
    flex-direction: column;
    padding: 31px 10px 39px 10px;
  }

  .hero-action__info {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }

  .hero-action__btn {
    font-weight: 500;
  }

  .desc-list__item {
    padding: 117px 15px 35px 17px;
    background-position: center top;
  }

/* Section-How we work (max-width: 576px) */

  .section-work__heading {
    margin-left: 0;
  }

  .section-work__btn-detailed,
  .section-work__btn-contract {
    padding: 0;
    padding-top: 22px;
    text-align: center;
    height: 60px;
  }

  .section-work__btn-detailed {
    width: 49.7%;
  }

  .section-work__btn-contract {
    width: 42%;
  }


  /* Section-questions (max-width: 576px) */

  .section-questions__item:nth-child(3),
  .section-questions__item:nth-child(5) {
    align-items: center;
  }

  .section-questions__heading {
    margin-right: 0;
  }

  .section-questions__subtitle {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 600;
  }

  /* Footer (max-width: 576px) */

  .footer__heading {
    font-size: 32px;
  }

  .footer__label {
    font-size: 14px;
  }

  .footer__action {
    max-width: 500px;
  }

}

@media (max-width: 320px) {

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-heading {
    font-size: 24px;
  }

  .header {
    height: 45px;
  }

  .burger {
    margin-top: 3px;
  }

  .header__logo {
    margin-top: 3px;
    margin-left: 0;
  }

  .header__search {
    display: none;
  }

  .nav__list {
    top: 45px;
  }

  .burger {
    order: 1;
  }

  .burger-pic {
    width: 25px;
    height: 19px;
  }

  .burger-pic rect:last-child {
    transform: translate(0, -4px);
  }

  .burger-pic rect:nth-last-child(2) {
    transform: translate(0, -2px);
  }

  .burger-pic:hover rect:last-child {
    transform: translate(15px, -4px);
  }

  .burger-pic:hover rect:nth-last-child(2) {
    transform: translate(5px, -2px);
  }

  .section-hero {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .background-img1 {
    background-image: url(../img/hero_320.jpg);
  }

  .hero-container {
    padding: 19px 0 40px 0;
    text-align: center;
  }

  .section-hero__heading {
    margin-bottom: 7.1px;
    font-size: 20px;
    line-height: 24px;
  }

  .section-hero__description {
    margin: 0 auto 35px auto;
    width: 243px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.1px;
  }

  .section-hero__btn {
    margin-left: auto;
    width: 162px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }

  .swiper-pagination {
    display: none;
  }

  /* Section-About (max-width: 320px;) */

  .section-about {
    margin-bottom: 48px;
  }

  .section-about__heading {
    margin-left: 0;
    margin-bottom: 3px;
  }

  .section-about__description {
    margin-bottom: 11px;
    font-size: 14px;
    line-height: 28px;
  }

  .section-about__hero-image {
    margin-bottom: 239px;
    height: 200px;
  }

  .hero-action {
    position: relative;
    align-items: flex-start;
    padding: 9px 11px 41.3px 0;
    top: 100%;
    background: none;
  }

  .hero-action__info {
    margin-left: -1px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: var(--content-color);
  }

  .hero-action__btn {
    padding: 0;
    margin: 0;
    width: 162px;
    height: 40px;
    line-height: 34px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    border-width: 2px;
    color: var(--orange-color);
  }

  .desc-list__item {
    padding: 62px 6px 0 0;
    background-position: left top;
    border: none;
  }

  .desc-list__item:not(:last-child) {
    margin-bottom: 27px;
  }

  .desc-list__item--img1 {
    background-image: url(../img/figure1_320.svg);
  }

  .desc-list__item--img2 {
    background-image: url(../img/figure2_320.svg);
    background-position-y: -6px;
  }

  .desc-list__header {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 17.7px;
    line-height: 22px;
  }

  .desc-list__definition {
    line-height: 28px;
    font-size: 14px;
  }


  /* Section-How we work (max-width: 320px) */

  .section-work {
    margin-bottom: 39px;
  }

  .section-work__heading {
    margin-bottom: 36px;
  }

  .tabs__item {
    font-size: 14px;
    line-height: 17px;
  }

  .section-work__nav {
    margin-bottom: 16px;
  }

  .section-work__right-column {
    margin-bottom: 13px;
  }

  .section-work__subtitle {
    margin-bottom: 5px;
    font-size: 17.7px;
    font-weight: 600;
  }

  .section-work__desc {
    font-size: 14px;
    line-height: 28px;
  }

  .section-work__step {
    padding-bottom: 21px;
  }

  .section-work__btn-detailed,
  .section-work__btn-contract {
    padding-top: 10px;
    height: 40px;
    font-size: 12px;
  }

  .section-work__btn-detailed {
    width: 162px;
  }

  .section-work__btn-contract {
    width: 118px;
  }


/* Section-questions (max-width: 320px) */

.section-questions {
  margin-bottom: 39px;
}

.section-questions__heading {
  margin-bottom: 14px;
  line-height: 29px;
}

.section-questions__list {
  margin-left: -4px;
}

.section-questions__subtitle {
  margin-right: 10px;
  font-size: 13.8px;
  line-height: 24px;
}

.section-questions__item:nth-child(1) .section-questions__subtitle,
.section-questions__item:nth-child(2) .section-questions__subtitle {
  max-width: 225px;
}

.section-questions__item:nth-child(4) .section-questions__subtitle,
.section-questions__item:nth-child(5) .section-questions__subtitle {
  max-width: 245px;
}

.section-questions__x-pic {
  margin-right: -1px;
  width: 30px;
  height: 30px;
}

/* Footer (max-width: 320px) */

.footer-form {
  padding-top: 40px;
  padding-left: 11px;
}

.footer__heading {
  margin-bottom: 22px;
}

.footer__forma {
  padding-left: 1px;
  padding-bottom: 31px;
  border-bottom: 1px solid #595959;
}

.footer__input, .footer__textarea {
  padding-left: 20px;
  font-size: 14px;
}

.footer__textarea {
  margin-bottom: 25px;
}

.footer__action {
  justify-content: center;
  height: 77px;
}

.footer__btn {
  margin: 0;
  padding: 0;
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}

.footer__label {
  font-size: 16px;
}

.footer__social-pic {
  width: 34.4px;
  height: 34.4px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-top: 18px;
}

.footer__social-item:not(:last-child) {
  margin-right: 14px;
}

}

