@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat.woff2') format('woff2'),
		url('../fonts/montserrat.woff') format('woff');
	font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
	src: url('../fonts/montserrat-600.woff2') format('woff2'),
		url('../fonts/montserrat-600.woff') format('woff');
	font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
	src: url('../fonts/montserrat-700.woff2') format('woff2'),
		url('../fonts/montserrat-700.woff') format('woff');
	font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
	src: url('../fonts/montserrat-800.woff2') format('woff2'),
		url('../fonts/montserrat-800.woff') format('woff');
	font-style: normal;
}

:root {
  --white-color: #fff;
  --content-color: #333;
  --footer_color: #CACACA;
  --orange-color: #ff9900;
  --active-color: #E1670E;
}

* {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--content-color);
  background-color: var(--white-color);
  min-width: 1920px;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

::-webkit-input-placeholder {
  color: var(--footer_color);
}

html {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 75px;
  padding-right: 75px;
}

.header, .footer {
  margin: auto;
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: var(--white-color);
  transition-property: background-color, border, color;
  transition-duration: .4s;
}

.section-heading {
  font-weight: 400;
  font-size: 48px;
}

.section-subtitle {
  font-weight: 700;
  font-size: 24px;
}

.btn-decor:hover {
  background: rgba(255, 153, 0, 0.6);
}

.btn-decor:active {
  background: var(--active-color);
}

  /* HEADER */

.header {
  height: 100px;
  background-color: var(--white-color);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__inner {
  display: flex;
}

.header__logo {
  margin-top: 14px;
}

.nav {
  display: flex;
  margin-left: auto;
  padding-top: 42px;
}

.nav__list {
  display: flex;
  margin-right: 71.3px;
}

.nav__item {
  font-size: 18px;
  line-height: 22px;
}

.nav__item:not(:last-child) {
  margin-right: 85.5px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  color: var(--content-color);
}

.nav__link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -22%;
  width: 0;
  height: 2px;
  transition-property: left, width;
  transition-duration: .4s;
}

.nav__link:hover::before {
  left: 0;
  width: 100%;
  background: var(--orange-color);
}

.nav__link:active {
  color: var(--active-color);
}

.header__search-icon {
  margin-right: 11px;
  transform: translateY(-2px);
  cursor: pointer;
}

.header__search-icon rect {
  transition: fill .4s;
}

.header__search-icon circle {
  transition: stroke .4s;
}

.header__search-icon:hover rect{
  fill: var(--orange-color);
}

.header__search-icon:hover circle{
  stroke: var(--orange-color);
}

.header__search-icon:active rect{
  fill: var(--active-color);
}

.header__search-icon:active circle{
  stroke: var(--active-color);
}


/* Section-Hero */

.section-hero {
  margin-bottom: 103px;
}

.hero-container {
  padding-top: 57px;
  padding-left: 78px;
  padding-bottom: 91px;
  background: url(../img/hero.jpg) no-repeat;
  background-size: auto;
  background-position: 0 1px;
}

.section-hero__heading {
  margin-bottom: 19px;
  width: 840px;
  font-weight: 800;
  font-size: 70.37px;
  line-height: 86px;
  color: var(--white-color);
}

.section-hero__description {
  margin-bottom: 97px;
  width: 830px;
  font-weight: 700;
  font-size: 23.46px;
  line-height: 29.9px;
  color: var(--white-color);
}

.section-hero__btn {
  padding: 25.60px 37.57px;
  margin-left: 2.5px;
  line-height: 29px;
  font-size: 23.46px;
  background-color: var(--orange-color);
}


/* Section-About */

.section-about {
  margin-bottom: 102.5px;
}

.section-about__heading {
  padding-left: 2px;
  margin-bottom: 23px;
}

.section-about__description {
  margin-bottom: 43px;
  width: 93%;
  line-height: 32px;
}

.section-about__tooltip-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  margin-right: 4px;
  background: url(../img/tooltip.svg) no-repeat;
  background-size: contain;
  transform: translateY(2px);
}

.section-about__hero-image {
  display: flex;
  height: 100%;
  max-height: 622px;
  max-width: 870px;
  background: url(../img/image1.jpg) no-repeat;
  background-size: auto;
}

.hero-action {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  padding: 39px 68px 41.3px 53.7px;
  background: rgba(0, 0, 0, 0.5);
}

.hero-action__info {
  width: 68%;
  font-weight: 700;
  line-height: 32.7px;
  color: var(--white-color);
}

.hero-action__btn {
  padding: 20px 35px;
  margin-top: 19px;
  height: 60px;
  border: 3px solid var(--orange-color)
}

.hero-action__btn:hover {
  background: var(--orange-color)
}

.hero-action__btn:active {
  background: var(--active-color)
}

.section-about__desc-list {
  padding-top: 2px;
  padding-left: 3px;
}

.desc-list__item {
  padding: 67px 114px 65px 299px;
  border: 1px solid var(--footer_color);
  background-size: 178px auto;
  background-repeat: no-repeat;
}

.desc-list__item--img1 {
  background-image: url(../img/figure1.svg);
  background-position: 62px 70px;
}

.desc-list__item--img2 {
  background-image: url(../img/figure2.svg);
  background-position: 62px 54px;
}

.desc-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.desc-list__header {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 24px;
}

.desc-list__definition {
  line-height: 32px;
}

/* Section-How we work */

.section-work {
  margin-bottom: 103px;
}

.section-work__heading {
  margin-left: -2px;
  margin-bottom: 50.7px;
}

.section-work__nav {
  margin-left: 2px;
  margin-bottom: 48px;
}

.nav-sect-work__list {
  display: flex;
}

.nav-sect-work__item {
  font-size: 18px;
}

.nav-sect-work__item:not(:last-child) {
  margin-right: 89.1px;
}

.nav-sect-work__link {
  color: var(--content-color);
}

.nav-sect-work__item--active .nav-sect-work__link{
  color: var(--orange-color);
}

.nav-sect-work__link:hover {
  color: var(--orange-color);
}

.nav-sect-work__link:active {
  color: var(--active-color);
}

.section-work__step {
  padding-left: 2px;
  padding-right: 106px;
  padding-bottom: 61px;
}

.section-work__subtitle {
  margin-bottom: 6px;
}

.section-work__desc {
  line-height: 32px;
}

.section-work__btn-detailed {
  margin-left: 2px;
  padding: 23px 38.23px;
  margin-right: 25.7px;
  height: 60px;
  background-color: var(--orange-color);
}

.section-work__btn-contract {
  padding: 21px 37.1px;
  height: 58px;
  font-weight: 400;
  color: var(--content-color);
  border: 1px solid var(--content-color);
  transform: translateY(-0.8px);
}

.section-work__btn-contract:hover {
  color: var(--white-color);
  background: #666;
  border: 1px solid var(--content-color);
}

.section-work__btn-contract:active {
  background: #000;
  border: 1px solid #000;
}

.section-work__colum-pic {
  display: flex;
  height: 100%;;
}

.section-work__pic {
  margin-top: auto;
  margin-left: 5px;
}


/* Section-questions */

.section-questions {
  padding-left: 5px;
  margin-bottom: 100px;
}

.section-questions__heading {
  margin-left: -3px;
  margin-bottom: 39.9px;
}

.section-questions__item {
  display: flex;
  align-items: center;
  height: 111px;
  border-top: 1px solid var(--footer_color);
  cursor: pointer;
  transition-property: color, border-color;
  transition-duration: 0.4s;
}

.section-questions__item:last-child {
  height: 112px;
  border-bottom: 1px solid var(--footer_color);
}

.section-questions__item:last-child:hover {
  border-bottom: 1px solid var(--orange-color);
}

.section-questions__item:hover {
  color: var(--orange-color);
  border-top: 1px solid var(--orange-color);
}

.section-questions__item:hover + .section-questions__item {
  border-top: 1px solid var(--orange-color);
}

.section-questions__item:hover .section-questions__x-pic circle{
  fill: #d2d2d2
}

.section-questions__x-pic {
  margin-left: auto;
  margin-right: 2px;
}

.section-questions__x-pic circle {
  transition: fill 0.4s;
}


/* Footer */

.footer, .footer__nav-link {
  color: var(--footer_color);
}

.footer {
  min-height: 630px;
  background-color: #222;
}

.footer-left {
  padding: 48px 30px 20px 0;
}

.footer__logo {
  margin-bottom: 9px;
}

.footer__nav {
  margin-bottom: 105px;
}

.footer__nav-item {
  line-height: 34.3px;
  font-weight: 600;
  font-size: 18px;
}

.footer__nav-link {
  transition: color 0.4s
}

.footer__nav-link:hover {
  color: var(--orange-color);
}

.footer__nav-link:active {
  color: var(--active-color);
}

.footer__nav-link::after {
  content: "";
  position: relative;
  display: block;
  bottom: 4px;
  height: 2px;
  width: 100%;
  background-color: var(--orange-color);
  opacity: 0;
  transition: opacity .4s;
}

.footer__nav-link:hover::after {
  opacity: 1;
}

.footer__social-list {
  display: flex;
  margin-left: -0.8px;
}

.footer__social-item:not(:last-child) {
  margin-right: 25px;
}

.footer__social-item:hover {
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.2))
}

.footer-form {
  padding: 60px 0 20px;
}

.footer__heading {
  margin-bottom: 24px;
}

.footer__form {
  padding-left: 3px;
  padding-right: 0.99px;
}

.footer__btn {
  margin-bottom: 20px;
  margin-right: 19px;
  padding: 21px 52px;
  height: 60px;
  border: 0;
  line-height: 20px;
  background-color: var(--orange-color);
}

.footer__input, .footer__textarea {
  display: block;
  margin-bottom: 25px;
  padding-left: 24px;
  width: 100%;
  height: 60px;
  color: var(--footer_color);
  border-width: 0;
  outline: none;
  background-color: #414141;
}

.footer__textarea {
  margin-bottom: 31px;
  padding-top: 22px;
  height: 150px;
  resize: none;
}

.footer__label, .footer__checkbox,
.footer__btn {
  cursor: pointer;
}

.footer-right {
  padding: 127px 4px 20px 36.77%;
  height: 100%;
  line-height: 32px;
}
